<section id="features" class="container-outer fit-page">
  <div class="container container-inner">

    <span class="main-text">Features</span>
    <hr class="divider"><br>

    <div class="col-md-4 product feature">
      <h3 class="product-middle">Model<br>Benchmarking</h3>
      <span class="container-text">
        Benchmark your Machine Learning model on large collection of real devices!
      </span>
    </div>

    <div class="col-md-4 product feature">
      <h3 class="product-middle">Inference<br>Engines</h3>
      <span class="container-text">
        Use your custom inference engine or any of <a href="#supported">supported</a> mobile inference engines.
      </span>
    </div>

    <div class="col-md-4 product feature">
      <h3 class="product-middle">Benchmark<br>Visualization</h3>
      <span class="container-text">
        Quickly see performance of your model on various devices and spot network bottlenecks.
      </span>
    </div>

    <div class="col-md-4 product feature">
      <h3 class="product-middle">Model<br>Visualization</h3>
      <span class="container-text">
        Display the architecture of your model in browser and double check its data flow.
      </span>
    </div>

    <div class="col-md-4 product feature">
      <h3 class="product-middle">Model<br>Backup</h3>
      <span class="container-text">
        Don't loose any of your architectures. We will backup all your data.
      </span>
    </div>

    <div class="col-md-4 product feature">
      <h3 class="product-middle">Dedicated<br>Device</h3>
      <span class="container-text">
        Tired of sharing device with other users? Use our dedicated device for your benchmarks!
      </span>
    </div>

    <div class="col-md-4 product feature">
      <h3 class="product-middle">Architecture Suggestion</h3>
      <span class="container-text">
        Our technology will help you to design and optimize your  models for edge and mobile devices.
      </span>
    </div>

  </div>
</section>
