<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 outer">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5" style="padding-top: 1em; padding-bottom: 2em;">
        <div class="mb-5 flex-center">

          <a href="https://twitter.com/bisonaidotcom" class="fa sns-icon" style="color: #86868b;">
            <span class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </span>
          </a>

          <a href="mailto:contact@bisonai.com" class="fa sns-icon" style="color: #86868b">
            <span class="far fa-envelope fa-lg white-text mr-md-5 mr-3 fa-2x"> </span>
          </a>

          <a href="https://github.com/bisonai" class="fa sns-icon" style="color: #86868b">
            <span class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </span>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: rgb(29, 29, 31)">{{ site.footer }}
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
