 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container" style="padding-top: 0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{{ "/index" | site: url }}">
                  <img src="{{ "/img/edgebenchmark-transparent-light.png" | site.url }}" id="logo" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>

                    <li class="nav-dark-bg">
                        <a class="page-scroll" href="#features">Features</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#how-to-use">How to use</a>
                    </li>

                    <!-- <li class="nav-dark-bg"> -->
                    <!--     <a class="page-scroll" href="#pricing">Pricing</a> -->
                    <!-- </li> -->

                    <li class="nav-special-bg">
                      <a class="page-scroll btn-special" href="#signup">Sign up</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
