<section id="pricing" class="container-outer fit-page">
  <div class="container container-inner">

    <span class="main-text">Pricing</span>
    <hr class="divider"><br>

    <div class="row">
      <div class="col-sm-4">
        <div class="product box">
          <div class="product-type">
            <h3 class="product-middle">Solo</h3>
            <span class="description">Benchmark basics for <br>every developer</span>
          </div>
          <span class="properties">
            <ul>
              <li class="check">Single developer</li>
              <li class="inf">Unlimited measurements</li>
              <li class="check">Support for TF Lite and ncnn</li>
              <li class="inf">Model backup</li>
              <li class="check">Model visualization</li>
              <li class="check">Architecture suggestions</li>
            </ul>
          </span>
          <h2 class="price">$19<span>/month</span></h2>
          <button type="button" class="btn btn-dark">Continue with Solo</button>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="product box">
          <div class="product-type">
            <h3 class="product-middle">Team</h3>
            <span class="description">Colaborate on model development <br>within small teams</span>
          </div>
          <span class="properties">
            <ul>
              <li class="check">Up to 10 developers</li>
              <li class="inf">Unlimited measurements</li>
              <li class="check">Support for TF Lite and ncnn</li>
              <li class="inf">Model backup</li>
              <li class="check">Model visualization</li>
              <li class="check">Architecture suggestions</li>
            </ul>
          </span>
          <h2 class="price">$99<span>/month</span></h2>
          <button type="button" class="btn btn-dark">Continue with Team</button>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="product box">
          <div class="product-type">
            <h3 class="product-middle">Enterprise</h3>
            <span class="description">Security, compliance, and flexible<br> deployment for enterprises</span>
          </div>
          <span class="properties">
            <ul>
              <li class="check">Private benchmark platform</li>
              <li class="check">Custom benchmark engines</li>
              <li class="check">Model evaluation</li>
              <li class="check">Benchmark in-the-wild</li>
              <li class="check">Dedicated devices</li>
              <li class="check">Custom modifications</li>
            </ul>
          </span>
          <button type="button" class="btn btn-dark">Learn more</button>
          <button type="button" class="btn btn-dark">Contact Sales</button>
        </div>
      </div>

    </div>
  </div>
</section>
