<section id="signup" class="container-outer dark fit-page">
  <div class="container">
    <span class="main-text">Sign-up</span>

    <hr class="divider light"><br>

    <center>
    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </center>

  </div>
</section>
