<section id="supported" class="container-outer fit-page light">
  <div class="container container-inner">
    <span class="main-text">Supported inference engines</span>
    <hr class="divider"><br>

    <span>
      Currently we support <a href="https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite" target="_blank">TF Lite</a> and <a href="https://github.com/tencent/ncnn" target="_blank">ncnn</a> inference engines but soon we are planning to add others. Do you use inference engine that we do not support? <a href="mailto:contact@edgebenchmark.com">Let us know!</a> Do you have your own inference engine that you would like to benchmark on our devices? <a href="mailto:contact@edgebenchmark.com">Contact our team</a> and ask for support.
    </span>

    </br>
    </br>

    <div class="row">
      <div class="col-sm-12 box-img img-container">
        <div class="center">
          <a href="https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite">
            <img src="img/tflite.png" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-sm-12 box-img img-container">
        <div class="center">
          <a href="https://github.com/tencent/ncnn">
            <img src="img/ncnn.png" class="img-responsive">
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
