<section id="supported" class="container-outer fit-page light">
  <div class="container container-inner">
    <span class="main-text">Supported inference engines</span>
    <hr class="divider"><br>

    <span>
      Currently we support <a href="https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite" target="_blank">TF Lite</a> and <a href="https://github.com/tencent/ncnn" target="_blank">ncnn</a> inference engines but soon we are planning to add others. Do you use inference engine that we do not support? <a href="mailto:contact@edgebenchmark.com">Let us know!</a> Do you have your own inference engine that you would like to benchmark on our devices? <a href="mailto:contact@edgebenchmark.com">Contact our team</a> and ask for support.
    </span>

    </br>
    </br>
    <img src="img/tflite+ncnn.png" class="img-responsive" style="width: 400px; margin-left: auto; margin-right: auto;">

  </div>
</section>
